<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Showcase | Spotify Way Out West Hackathon 2014</title>
    <link rel="icon" href="/images/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>

    <header role="banner">
      <div class="grid grid--middle">
        <div class="grid__item one-quarter">
          <a target="_blank" title="Spotify" href="http://spotify.com">
            <img src="/images/spotify.svg" alt="Spotify" width="127" />
          </a>
        </div><!--
        --><div class="grid__item one-half">
          <h1 class="scale">Showcase</h1>
        </div><!--
        --><div class="grid__item one-quarter">
          <a target="_blank" title="#wowhack2014" href="https://twitter.com/search?q=%23wowhack2014">
            <img src="/images/wowhack.svg" alt="#wowhack2014" width="185" />
          </a>
        </div>
      </div>
    </header>

    <main role="main">

      {{{body}}}

    </main>

    <footer role="contentinfo">
      <p>
        Site made with love by Johan &amp; Anton, Spotify Street Team 2014
      </p>
      <p>
        Source on <a href="https://github.com/wowhack/showcase">github.com/wowhack/showcase</a>. Hosted on Heroku.
      </p>
    </footer>
  </body>
</html>
