<section class="grid">
  <h1>Winners</h1>
  {{#each winners ~}}
    {{~> hack ~}}
  {{~/each}}
</section>

<section>
  <h1>Other hacks</h1>
  {{#each others ~}}
    {{~> hack ~}}
  {{~/each}}
</section>
