<section>
  <div class="grid">
    <h1>Winners</h1>
    {{#each winners ~}}
      {{~> hack ~}}
    {{~/each}}
  </div>
</section>

<section>
  <div class="grid">
    <h1>Other hacks</h1>
    {{#each others ~}}
      {{~> hack ~}}
    {{~/each}}
  </div>
</section>
