/* =ELEMENTS
--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  color: #888;
  letter-spacing: 10px;
  font-size: to_em(22);
  text-align: center;
  margin: 0 0 $lineheight*2;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: to_em(22);
  color: $text-color;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: $lineheight / 2;
}

h3 {
  font-weight: 600;
  font-style: italic;
  font-size: to_em(14);
  color: darken(#D7C8AF, 10%);
  margin-bottom: $lineheight / 2;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

p {
  margin: 0 0 $lineheight / 2;
}

a {
  color: $accent;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}
