/* =HACK
--------------------------------------------- */

.hack {
  min-height: $lineheight*20;
  margin-bottom: $lineheight*2;

  .desc {
    margin: $lineheight / 2 0;
    min-height: $lineheight*3;
  }

  .links {
    text-align: center;

    small {
      display: inline-block;
      margin-top: .5em;
    }
  }
}

.members-list {
  list-style: none;

  li {
    display: inline-block;
    width: 50%;
    margin-bottom: .5em;
  }

  .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    transition: all .1s ease-out;
  }

  a {
    &:hover {
      text-decoration: none;

      .avatar {
        transform: scale(1.1);
      }
      .username {
        text-decoration: underline;
      }
    }
  }

  .username {
    color: #000;
    font-weight: normal;
    font-size: to_em(14);
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
