@import "icons";
@import "utils";
@import "animations";

$use-markup-fix: false;

@import "grid";

$accent: #E00070;
$text-color: #333;
$gray: #999;

$leading: 1.6;

$font-size: 16;
$lineheight: (($leading * $font-size) / 16) * 1em;

$sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$cursive: Pacifico, $sans;
$mono: Monaco, Courier, monospaced;

/* the #fuckitreset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $accent;
  color: #fff;
}
::-moz-selection {
  background-color: $accent;
  color: #fff;
}

html {
  color: $text-color;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  font: normal #{($font-size / 16) * 1em}/#{$leading} $sans;
  padding: 1% 3%;
  max-width: 1200px;
  margin: 0 auto;
}


@import "elements";
@import "helpers";


[role="banner"] {
  margin-bottom: $lineheight;

  h1 {
    font-family: $cursive;
    color: $accent;
    text-transform: none;
    font-size: 8vw;
    margin: 0;
    letter-spacing: 0;
  }

  .grid__item:first-child {
    a {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .grid__item:last-child {
    a {
      display: block;
      text-align: right;
    }

    img {
      display: inline;
      vertical-align: middle;
    }
  }
}

section {
  margin-bottom: $lineheight*3;
}

/* =FOOTER
--------------------------------------------- */

[role="contentinfo"] {
  color: #777;
  text-align: center;
  padding: $lineheight 0;

  p:last-child {
    color: #999;
    font-size: .9em;
  }

  a {
    color: #777;
    font-weight: normal;
    transition: color .2s ease-out;
  }
  &:hover a {
    color: $accent;
  }
}

@import "hack";
